

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styling.css" type="text/css"/>   
    
   
</head>
<body>
    <div class="row">
        
             
             <img src= "https://www.icecream.com/images/icinfo/ice-cream-info.jpg" alt="..." class="img-responsive">
            
        {{!-- </div> --}}
        {{!-- <div class="column"></div>
            <img  style= "max-width: 50%;" src= "https://www.parentmap.com/sites/default/files/styles/1200x1200_scaled/public/2019-10/Salt%20%26%20Straw%20spooktacular%20series%20ice%20cream_2.jpg" alt="..." class="img-responsive">
        </div> --}}
    </div>
</body>
</html>