

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styling.css" type="text/css"/>   
    
   
</head>
<body>
    <div class="row">
        <div class="column">
            <img style= "max-width: 100%;" src= "https://www.myanmore.com/wp-content/sabai/File/files/l_b4632efbf2116da02b1a26d86e1c043f.jpg" alt="..." class="img-responsive">
        </div>
        <div class="column">
            <h3 style = "text-align: center">Contact us</h3>
            <p style = "text-align: center">
                1214, Ice Cream Ave, <br/>
                SummerLand, <br/>
                Happiness World <br/>
            </p>

                <p style = "text-align: center" ><b>email: </b> I-scream-4-icecream@happiness-world.com</p>
            
        </div>
    </div>
</body>
</html>