

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styling.css" type="text/css"/>   
    
   
</head>
<body>
    <div class="row">
        <div class="column">
            <img style= "max-width: 100%;" src= "https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/96231591_529643347706983_2291581780760723456_o.jpg?_nc_cat=103&_nc_sid=e3f864&_nc_ohc=fzJWFSKDxd0AX9zajJZ&_nc_ht=scontent-sea1-1.xx&oh=cf8ed5200ca6909acdf187d2a0f200a1&oe=5F6D6E54" alt="..." class="img-responsive">
        </div>
        <div class="column">
            <h3 style = "text-align: center">Contact us</h3>
            <p style = "text-align: center">
                1214, Ice Cream Ave, <br/>
                SummerLand, <br/>
                Happiness World <br/>
            </p>

                <p style = "text-align: center" ><b>email: </b> I-scream-4-icecream@happiness-world.com</p>
            
        </div>
    </div>
</body>
</html>