 
 <h2 style = "text-align: center">Admin Page</h2>

 
<div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}>
<ul>
    <h3>Check all items : </h3>
    <span><a  href="admin/items" class="btn btn-success" role = "button">All Items</a></span>
    <span role="separator" class="divider"></span>
    <h3>Check all orders : </h3>
    <span><a href="admin/orders" class="btn btn-success" role = "button">All Orders</a> </span>
</ul>
</div>



