
  


<div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}>
<h3 style = "text-align: center">My Profile</h3>
<ul>
    <h3>Check your orders : </h3>
    <span><a  href="/user/profile/orders" class="btn btn-success btn btn-primary btn-xs" role = "button">Orders</a></span>
    <span role="separator" class="divider"></span>
    <h3>Check your wishlists : </h3>
    <span><a href="/user/profile/wishlists" class="btn btn-success btn btn-primary btn-xs" role = "button">Wishlists</a> </span>
</ul>
</div>