

<div class="row">
    <div class="col-md-4 col-md-offset-4"> 
        <h2>Wishlist update</h2>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="user/profile/wishlists/{{this._id}}" method="put">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            
           
            <button type="submit" class="btn btn-primary">Update</button>
             
             
        </form>
        
    </div>
</div> 