<div class="row">
     
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Wishlist</h1>

    <form action="/wishlist" method="post" id="wishlist-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name"> Wishlist  Name</label>
                        <input type="text" id="recipient" class="form-control" required name="name">
                    </div>
                </div>
            </div>
                
            <button type="submit" class="btn btn-success">Add a Wishlist</button>
        </form>
    </div>
</div>